<div class="gestion-admin">
    <h1>Gestión Admin</h1>
    
    <hr class="separador"> <!-- Línea horizontal personalizada -->
    <hr class="separador"> <!-- Línea horizontal personalizada -->

    <div class="section">
        <h2>Crear</h2>
        <div class="button-container">
            <button class="admin-button" (click)="anadirPartidos()">CREAR PARTIDOS</button>
            <button class="admin-button" (click)="anadirEq()">CREAR EQUIPOS</button>
            <button class="admin-button" (click)="anadirJugadores()">CREAR JUGADORES</button>
        </div>
    </div>

    <hr class="separador"> <!-- Línea horizontal personalizada -->

    <div class="section">
        <h2>Modificar</h2>
        <div class="button-container">
            <!-- <button class="admin-button" (click)="modificarPartidos()">MODIFICAR PARTIDOS</button> -->
            <button class="admin-button" (click)="modificarEq()">MODIFICAR EQUIPOS</button>
            <button class="admin-button" (click)="modificarJugadores()">MODIFICAR JUGADORES</button>
        </div>
    </div>

    <hr class="separador"> <!-- Línea horizontal personalizada -->

    <div class="section">
        <h2>Borrar</h2>
        <div class="button-container">
            <button class="admin-button" (click)="borrarPartidos()">BORRAR PARTIDOS</button>
            <button class="admin-button" (click)="borrarEq()">BORRAR EQUIPOS</button>
            <button class="admin-button" (click)="borrarJugadores()">BORRAR JUGADORES</button>
        </div>
    </div>
</div>