/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: #fff; /* Color de texto blanco */
  background-color: #000; /* Fondo negro para mayor contraste */
}

.partidos-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #555; /* Bordes gris oscuro */
}

/* Heading Styles */
h2 {
  font-size: 24px;
  margin-bottom: 15px;
  border-bottom: 2px solid #666; /* Línea de separación gris oscuro */
  padding-bottom: 5px;
  text-transform: uppercase;
  color: #fff; /* Texto blanco */
}

h3 {
  font-size: 20px;
  margin: 10px 0;
  border-bottom: 1px solid #444;
  padding-bottom: 5px;
  color: #fff; /* Texto blanco */
}

/* Team and Score Details */
.partido-detalle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  margin: 5px 0;
  border: 1px solid #555;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: #fff; /* Texto blanco */
  gap: 5px; /* Espacio entre los elementos */
}

.partido-detalle:hover {
  background-color: #222; /* Fondo gris oscuro al pasar el cursor */
}

.equipo-casa, .equipo-visitante {
  font-weight: bold;
}

.equipo-small {
  font-size: 14px;
}

.goles {
  font-size: 16px;
  font-weight: bold;
  margin: 0 5px;
}

/* Detalles */
.detalles {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #555;
  border-radius: 8px;
  background-color: #111; /* Fondo gris muy oscuro */
  color: #fff; /* Texto blanco */
}

.detalles h4 {
  margin: 5px 0;
  font-size: 16px;
}

.detalles ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.detalles li {
  padding: 5px 0;
  border-bottom: 1px solid #333; /* Línea de separación gris */
  font-size: 14px;
}

.detalles li:last-child {
  border-bottom: none;
}

.convocados-container {
  margin-top: 10px;
  font-size: 14px;
}

.convocado {
  display: inline-block;
  margin-right: 5px;
}

/* Jornadas */
.jornadas-container {
  margin-top: 15px;
}

.jornada {
  margin: 10px 0;
}

.jornada-titulo {
  padding: 10px 15px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  background-color: #111;
  border: 1px solid #555;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: #fff; /* Texto blanco */
}

.jornada-titulo:hover {
  background-color: #222; /* Fondo gris oscuro al pasar el cursor */
}

/* Separador */
.separador {
  border: none;
  height: 1px;
  background-color: #555; /* Línea de separación gris oscuro */
  margin: 20px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .partido-detalle {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .equipo-casa, .equipo-visitante, .goles {
    font-size: 14px;
    margin: 3px 0;
  }

  h2, h3 {
    text-align: center;
  }
}
