<div *ngIf="jugadorSeleccionado">

  <video [src]="jugadorSeleccionado.foto" class="video-fondo" autoplay muted playsinline></video>

  <div class="navigation-container">
    <button (click)="cambiarJugador('prev')" class="btn-izquierda">&#8249;</button>
    <h3 class="nombre">{{ jugadorSeleccionado.nombre }}</h3>
    <button (click)="cambiarJugador('next')" class="btn-derecha">&#8250;</button>
  </div>

  <div class="jugador-card">
    <div class="tarjeta-overlay">
      <div class="dorsal">{{ jugadorSeleccionado.dorsal }}</div>
      <p class="goles">Goles: {{ jugadorSeleccionado.goles }}</p>
      <p class="asistencias">Asistencias: {{ jugadorSeleccionado.asistencias }}</p>
    </div>
  </div>
</div>