/* Contenedor principal */
.jugador-card {
  position: relative; /* Necesario para que los elementos dentro usen posición relativa al contenedor */
  width: 100%; /* Ocupa todo el ancho disponible */
  height: 100%;
  margin: auto; /* Centrado horizontal */
  aspect-ratio: 16 / 9; /* Proporción para mantener la relación de aspecto */
}

/* Video de fondo */
.video-fondo {
  width: 100%; /* Escala al ancho del contenedor */
  height: 100%; /* Escala al alto del contenedor */
  object-fit: cover; /* Asegura que el video cubra completamente el contenedor sin distorsión */
  position: absolute; 
  left: 0;
  z-index: -1; /* Video detrás del contenido */
}

/* Contenido superpuesto en la tarjeta */
.tarjeta-overlay {
  margin-top: 195px;
  text-align: center;
  color: #fff; /* Texto blanco */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: clamp(1rem, 2.5vw, 1.5rem); /* Tamaño de fuente responsivo */
}

.dorsal {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(240, 229, 82);
  text-shadow: 3px 3px 0px black; /* Sombra negra dura de 1 píxel */
}

.goles{
  margin-top: 20px;
  color: rgb(240, 229, 82);
}

.asistencias{
  color: rgb(240, 229, 82);
}

/* Contenedor de navegación */
.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nombre {
  flex: 1;
  text-align: center;
  font-size: clamp(2rem, 3vw, 2rem);
  color: rgb(240, 229, 82);
}

.btn-izquierda,
.btn-derecha {
  background-color: transparent;
  border: none;
  font-size: 5rem;
  color: #fff;
  cursor: pointer;
  margin-left: 1rem;
  margin-right: 1rem;
}
